html {
	height: 100%;
	width: 100%;
	background-color: hsl(0, 0%, 0%);
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	text-overflow: ellipsis;
	font-family: 'Nunito Sans', sans-serif;
	text-rendering: optimizeLegibility;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

h1 {
	display: inline-flex;
	margin: 0;
	padding-left: 20px;
	color: hsl(0, 0%, 100%);
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	vertical-align: top;
}

h3 {
	display: inline-flex;
	margin: 0;
	padding-left: 20px;
	color: hsl(0, 0%, 100%);
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.solid {
	height: inherit;
	width: inherit;
}

header {
	position: fixed;
	padding: 24px 0px;
	width: 100%;
	height: 24px;
	background-color: hsl(0, 0%, 0%);
	z-index: 2;
}

.container-1 {
	position: absolute;
	display: flex;
	overflow-y: auto;
	width: inherit;
	top: 72px;
	bottom: 0px;
	z-index: 1;
}

.item-1 {
	flex: 1;
	background: url("Resources/Images/Medium_Black.png") no-repeat -9999px -9999px;
	background-color: hsl(0, 0%, 0%);
	height: 100%;
	width: 100%;
}

.item-2 {
	flex: 1;
	background: url("Resources/Images/Behance_Black.png") no-repeat -9999px -9999px;
	background-color: hsl(0, 0%, 0%);
	height: 100%;
	width: 100%;
}

.item-3 {
	flex: 1;
	background: url("Resources/Images/SoundAnimated_Black.png") no-repeat -9999px -9999px;
	background-color: hsl(0, 0%, 0%);
	height: 100%;
	width: 100%;
}

.icon-artstation {
	background-image: url("Resources/Images/Medium_White.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60% auto;
	height: 100%;
	width: 100%;
}

.icon-behance {
	background-image: url("Resources/Images/Behance_White.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60% auto;
	width: 100%;
	height: 100%;
}

.icon-soundanimated {
	background-image: url("Resources/Images/SoundAnimated_White.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60% auto;
	width: 100%;
	height: 100%;
}

.icon-artstation:hover {
	background-image: url("Resources/Images/Medium_Black.png");
}

.icon-behance:hover {
	background-image: url("Resources/Images/Behance_Black.png");
}

.icon-soundanimated:hover {
	background-image: url("Resources/Images/SoundAnimated_Black.png");
}

.item-1:hover {
	background-color: hsl(0, 0%, 100%);
}

.item-2:hover {
	background-color: hsl(0, 0%, 100%);
}

.item-3:hover {
	background-color: hsl(0, 0%, 100%);
}


@media (orientation: portrait) {
	.container-1 {
		flex-direction: column;
	}
	.item-1:after {
	content: "";
	display: block;
	padding-top: 100%;
	}
	.item-1 {
		position: relative;
		width: 100%;
	}
	.item-1 a {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.item-2:after {
	content: "";
	display: block;
	padding-top: 100%;
	}
	.item-2 {
		position: relative;
		width: 100%;
	}
	.item-2 a {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.item-3:after {
	content: "";
	display: block;
	padding-top: 100%;
	}
	.item-3 {
		position: relative;
		width: 100%;
	}
	.item-3 a {
		position: absolute;
		height: 100%;
		width: 100%;
	}
}
